!!!
%html
  = render 'layouts/head'
  %body
    = render 'layouts/nav'
    .container
      = render :partial => 'layouts/flash', :object => flash
      = render_breadcrumbs :builder => ::BootstrapBreadcrumbsBuilder
      .row
        .span3
          .well
            = display_tree(Category.roots, :ul => {:class => 'nav nav-list'}){|c| link_to c.name, category_path(c)}
        .span9
          = yield
    %footer.container

    
